@import url("https://fonts.googleapis.com/css?family=Jim+Nightshade&display=swap");
/*Variables*/
/*Global*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

.section-title {
  font-size: 48px;
  margin: 0 0 72px 0;
  text-align: left;
}

.section-subtitle {
  font-size: 24px;
  margin: 25px 0 12px 0;
  text-align: left;
}

/*Top-page*/
.top-page {
  height: 100vh;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("https://i.postimg.cc/g2jXt0kJ/sport-game-match-brasil-41257.jpg");
  background-repeat: no-repeat;
  background-color: grey;
  font-family: "Signika", sans-serif;
}

header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0 80px;
  background-color: none;
}

header p {
  display: inline-block;
  padding: 30px 18px;
  font-size: 30px;
  font-family: 'Jim Nightshade', cursive;
  color: yellow;
}

header nav ul {
  list-style: none;
}

header nav ul a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: "Signika", sans-serif;
}

header nav ul a:hover {
  color: #aad40e;
}

header nav ul li {
  display: inline-block;
  padding: 30px 18px;
  font-size: 20px;
  text-decoration: none;
}

.splash {
  color: white;
  min-height: 300px;
  display: -ms-flexbox;
  display: flex;
}

.splash .splash-inner {
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.splash h1, .splash h3 {
  line-height: 2;
  margin: auto;
  font-family: "Signika", sans-serif;
}

.splash h1 {
  font-size: 40px;
}

.splash h3 {
  font-size: 20px;
}

.splash .btn {
  font-size: 27px;
  padding: 5px;
  margin-top: 40px;
  color: white;
  background-color: #ffe600;
  border-radius: 5px;
  border: none;
}

.splash .btn:hover {
  font-size: 27px;
  padding: 5px;
  margin-top: 40px;
  color: white;
  background-color: #9dff00;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/*banners*/
.banners {
  padding: 5px 0;
  text-align: center;
}

h2, h3, p {
  padding: 10px;
}

h2 {
  padding-top: 50px;
}

.row {
  padding-top: 50px;
}

.icon {
  color: yellow;
  font-size: 30px;
  border: 1px solid yellow;
  padding: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 1.6;
  margin: auto;
}

/*our-portfolio*/
.our-portfolio {
  padding: 5px 0;
  text-align: center;
}

.our-portfolio .card {
  margin-bottom: 3px;
  padding: 5px;
}

.our-portfolio .card h3 {
  text-align: center;
  font: "Signika", sans-serif;
}

.our-portfolio .card .card-image {
  height: 300px;
}

.our-portfolio .card .card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*footer*/
.page-footer .row div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
}

.page-footer .row ul {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 30px 0;
}

.page-footer .row ul li {
  font-size: 0;
  padding: 0 5px 0;
}

.page-footer .row ul li i {
  background-color: black;
  font-size: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-decoration: underline;
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
}

.page-footer .row ul li i a {
  text-decoration: none;
}

/* Media */
@media (max-width: 767px) and (max-width: 991px) {
  .top-page header p {
    padding: 5px;
  }
  .top-page header nav ul li {
    padding: 10px;
  }
  .splash {
    min-height: 200px;
  }
  .splash .splash-inner {
    padding-top: 50px;
  }
  .splash h1, .splash h3 {
    line-height: 2;
    margin: auto;
    font-family: "Signika", sans-serif;
  }
  .splash h1 {
    font-size: 40px;
  }
  .splash h3 {
    font-size: 20px;
  }
  .splash .btn {
    font-size: 27px;
    padding: 5px;
    margin-top: 40px;
    color: white;
    background-color: #ffe600;
    border-radius: 5px;
    border: none;
  }
}
/*# sourceMappingURL=style.css.map */